body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(#87CEEB 90%, #4CAF50 10%); /* More sky */
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.sun {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #ffcc00, #ff6600);
    position: absolute;
    top: 20px;
    right: 88%;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(255, 204, 0, 0.8);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: flex;
}

.arrow-icon {
    width: 3.5rem;
    height: 3.5rem;
    stroke: black;
}

.scroll {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scroll img {
    height: 100%;
    width: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.text-container {
    position: absolute;
    z-index: 1;
    width: 53vmin;
    height: 60vmin;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 2vw;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}

.overlay-text h1 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 2.2;
    overflow-wrap: break-word;
}

.overlay-text p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    line-height: 1.2;
    overflow-wrap: break-word;
}

